name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2.4.0
      with:
        distribution: zulu
        java-version: 17

    - name: Build with Maven
      run: mvn clean install

    - name: Test coverage Report
      run: mvn jacoco:prepare-agent test jacoco:report

    - uses: codecov/codecov-action@v2.1.0
