name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: gitboard-io/gitboard-action@main
      with:
        username: frimtec
        key: ${{ secrets.GITBOARD_IO_KEY }}
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        distribution: zulu
        java-version: 21

    - name: Build with Maven
      run: mvn clean install

    - name: Test coverage Report
      run: mvn jacoco:prepare-agent test jacoco:report

    - uses: codecov/codecov-action@v3.1.4

  # Run Qodana inspections and provide report
  inspectCode:
    name: Inspect code
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      checks: write
      pull-requests: write
    steps:

      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v4

      # Run Qodana inspections
      - name: Qodana - Code Inspection
        uses: JetBrains/qodana-action@v2023.2.8
        with:
          cache-default-branch-only: true
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
